.AccordionPosition {
  position: fixed;
  bottom: 69px; /* tuned for minimum "whitespace" */
  width: 100%;
  z-index: 999;
}

.Header {
  padding: 0;
  background-color: #5a5550;
  border-bottom: none;
}

.Card {
  background-color: #5a5550;
}

.PaddingReset {
  padding: 0;
}
