.AccordionPosition {
  position: fixed;
  bottom: 67px; /* tuned for minimum "whitespace" */
  width: 100%;
  z-index: 999;
}

.Header {
  padding: 0;
  background-color: #5a5550;
  border-bottom: none;
}

.Card {
  background-color: #5a5550;
  border: none;
  border-radius: 0.25rem 0.25rem 0 0;
}

.PaddingReset {
  padding: 0;
}

.Hidden {
  display: none;
}
