/* CREDIT: Code taken from Code Institute's "Moments" walkthrough project */
.Button {
  font-size: 0.9rem;
  font-weight: 500;
  align-self: center;
  background-color: #df604e !important;
  border-radius: 100px;
  border-color: transparent !important;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  color: #ffffff;
  transition: color ease-in-out 0.2s, font-weight ease-in-out 0.2s,
    letter-spacing ease-in-out 0.2s;

  /* CREDIT: https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.Button:hover {
  font-weight: 700;
  letter-spacing: 0.05rem;
  background-color: #af3c2d !important;
  color: #ffffff;
  border-color: transparent;
  cursor: pointer;
  transition: color ease-in-out 0.2s, font-weight ease-in-out 0.2s,
    letter-spacing ease-in-out 0.2s;
}

.Button:hover:active {
  background-color: #af3c2d !important;
}

.Button:active {
  background-color: #af3c2d !important;
}

.Button:focus {
  background-color: #af3c2d;
}

.PaddingReset {
  padding: 0;
}

.MarginLeftRight {
  margin-left: 5px;
  margin-right: 5px;
}

.TransparentButton {
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  z-index: 999;
}

.TransparentButton:hover {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.TransparentButton:active,
.TransparentButton:focus,
.TransparentButton:focus:active {
  background-color: transparent !important;
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}
