.Container {
  height: 100vh;
  max-width: 100%;
  /* CREDIT: https://www.geeksforgeeks.org/gradient-borders/ */
  background-image: radial-gradient(circle at center, transparent, #d8d3cd 80%),
    url('../assets/homepage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.TitleContainer {
  height: 100vh;
  padding-top: 150px;
  text-align: left;
  background-color: #d8d3cd;
}

.Title {
  max-width: 100px;
}

.IntroContainer {
  position: absolute;
  top: 50%;
  max-width: 250px;
  text-align: left;
}

.Line {
  max-width: 100px;
  height: 5px;
  margin: 3px 0;
  border-radius: 80% 80% 30% 30%;
  background-color: #df604e;
}

.SecondLine {
  max-width: 50px;
  height: 5px;
  margin: 3px 15px;
  border-radius: 30% 30% 80% 80%;
  background-color: #df604e;
}

@media screen and (max-width: 991px) {
  .Container {
    background-image: url('../assets/homepage.png');
  }
}
