.NavBar {
  background-color: #5a5550;
  padding: 18px 1rem; /* tuned for minimum "whitespace" */
}

.MarginRight {
  margin-right: 5px;
  margin-left: 10px;
}

.SignUpIn {
  padding: 0 10px;
  color: #d8d3cd;
}

.SignUpIn:active,
.SignUpIn:hover,
.SignUpIn:focus {
  color: #d8d3cd;
  text-decoration: underline;
}

.Active {
  text-decoration: underline;
}

.Active svg {
  color: #af3c2d;
}

.ProfileActive {
  border-radius: 50%;
  box-shadow: 0 0 15px 5px #df604e;
}
