.NavBar {
  background-color: #5a5550;
  padding: 18px 1rem; /* tuned for minimum "whitespace" */
}

.Brand {
  font-size: 2rem;
  font-weight: 700;
  color: #d8d3cd !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.SignInOut {
  margin-left: auto !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.MarginRight {
  margin-right: 5px;
  margin-left: 10px;
}

.SignUpIn {
  padding: 0 10px;
  color: #d8d3cd;
}

.SignUpIn:active,
.SignUpIn:hover,
.SignUpIn:focus {
  color: #d8d3cd;
  text-decoration: underline;
}

.Active {
  text-decoration: underline;
}

.Active svg {
  color: #af3c2d;
}

.ProfileActive {
  border-radius: 50%;
  box-shadow: 0 0 15px 5px #df604e;
}

.ProfileActive:hover {
  box-shadow: 0 0 15px 5px #af3c2d;
}

@media screen and (max-width: 491px) {
  .Brand {
    font-size: 1.5rem;
    margin: auto;
  }
  .SignInOut {
    margin: auto;
  }
}
