.Playlist {
    padding-right: 5px !important;
    padding-left: 5px !important;
}
  
.Image {
    padding: 0.25rem;
    background-color: #3d3d3d;
    border: 1px solid #3d3d3d;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;    
}