.Column {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.Container {
    padding-top: 30vh;
    padding-left: 0px;
    padding-right: 0px;
}

.Button {
    padding: 0px;
}

.InfiniteScroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.InfiniteScroll::-webkit-scrollbar {
    display: none;
}

