.Container {
  padding: 3px 3px 45px 3px;
  margin-bottom: 76px;
}

.ProfileContainer {
  padding: 30vh 3px 45px 3px;
  margin-bottom: 76px;
}

.HighlightedContainer {
  padding: 20px 0px;
  margin: 15px;
  background-color: #5a5550a5;
  color: #d8d3cd;
  border-radius: 10px;
  box-shadow: 0 0 7px #df604e;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Button {
  padding: 0px;
}

.InfiniteScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.InfiniteScroll::-webkit-scrollbar {
  display: none;
}
