.Image {
    padding: 0.25rem;
    background-color: #3d3d3d;
    border: 1px solid #3d3d3d;
    border-radius: 0.25rem;
    max-width: 33vw;
    max-height: 20vh;
}

@media screen and (min-width: 992px) {
    .Image {
        max-height: 29vh;
    }
}