.Container {
  padding: 3px 3px 45px 3px;
}

.ProfileContainer {
  padding: 30vh 3px 45px 3px;
}

.Button {
  padding: 0px;
}

.InfiniteScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.InfiniteScroll::-webkit-scrollbar {
  display: none;
}
