.ProfileContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 30vh;
  width: 100%;
  background-color: #5a5550;
  padding-top: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  color: #d8d3cd;
}

.AvatarContainer {
  display: flex;
  align-items: flex-end;
}

.AvatarStatsContainer {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
  width: auto;
  background-color: #5a5550cc;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 0 7px #df604e;
}

.StatsRow {
  justify-content: center;
  margin-right: 1.5rem;
}

.StatsItem {
  margin: 0rem;
  font-size: 1rem;
}

.FontAwesomeIcon {
  filter: drop-shadow(2px 2px 4px black);
}

.ProfileBottomRightIcon {
  filter: drop-shadow(2px 2px 4px black);
  position: relative;
  bottom: 0px;
  right: 10px;
}

.ProfileTopRightIcon {
  filter: drop-shadow(2px 2px 4px black);
  position: relative;
  bottom: 80px;
  right: 35px;
}

.SmallText {
  font-size: 0.8rem;
  color: #d8d3cd;
}

.AlignItemsCenter {
  align-items: center;
}

@media screen and (max-width: 575px) {
  .StatsRow {
    justify-content: right;
    margin-right: 1rem;
  }
  .StatsItem {
    margin: 0rem;
    font-size: 1rem;
  }
}
