.DropdownMenu {
  opacity: 0.85 !important;
  width: 100%;
  z-index: 999;
  background-color: #5a5550;
}

.DropdownItem {
  color: #d8d3cd;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #d8d3cd;
}

.SearchResultImage {
  padding: 0.25rem;
  max-height: 10vh;
}

@media screen and (min-width: 992px) {
  .SearchResultImage {
    max-height: 15vh;
  }
}
